.students-grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.students-grid-cell {
	/* grow, shrink, width */
	flex: 0 0 50%;
}

.students-grid-row {
	display: contents;
}

.header-cell {
	font-weight: bold;
	border-bottom: 4px groove darkgray;
	padding-bottom: 2px;
}
