.students-grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.students-grid-cell {
	/* grow, shrink, width */
	flex: 0 0 var(--header-column-width);
}

.students-grid-row {
	display: contents;
}

.header-cell {
	/* --custom-background-color: yellow; */
	font-weight: bold;
	border-bottom: 4px groove darkgray;
	padding-bottom: 2px;
	/* background-color: var(--custom-background-color); */
}
