form {
	margin-top: 10px;
}

.calculator {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-auto-rows: min-content;
	row-gap: 7px;
	column-gap: 2px;
}

.label {
	white-space: nowrap;
	align-self: center;
}

.form-field > * {
	width: 100%;
}

.center-button {
	text-align: center;
}
